
<div id="content_about">

    <h1>About Southern Knights Cruisers</h1>
    <p>The Southern Knights Cruisers is a Non-profit Club under IRS Section 501 (c) 7 formed in 2004 by local car hobbyists who enjoy showing and driving their old cars and who are dedicated to raising money to help veterans through the enjoyment of the hobby.</p>

    <br/>
    <hr/>
    <h2>2014 Car Show</h2>
    <p>Thank you for joining us for the 15th Annual Southern Knights Cruisers Veterans Car and Bike Show.The Show was an overwhelming success.  There were over 300 vehicles and 50 vendors.  The Show was able to raise $24,600 that was donated to our military veterans. With this year’s donations, gives us a total of $308,000 that has been raised with this Show.  The Club believes that with the date change of the Show to October helped with the success.  Wait till this year, the Show is only going to get better.</p><br/>
    <p>Ricky Williams,</p>
    <p>President</p><br/>
    <hr/>
    <h2>2015 Car Show</h2>
    <p>Plans are in the making of an even bigger show in 2015. Again, this year the 16th Annual Southern Knights Cruisers Veterans Car &amp; Bike Show will be saluting and honoring our country's veterans. Money that is raised will benefit the Virginia Wounded Warrior Program, the Fisher House, and McGuire Veterans Hospital. We expect that there will be even more interest in the Show this year given the response we had last year...more to come on displays and vendors. </p>
    <p>For more information about our show visit the <a href="veterans-show.php">Southern Knights Cruisers Veterans Car & Bike Show</a> web page.</p>
    <p>Please Join Us This Year!</p><br/>

    <h3><em>&quot;Family Cruising   At It's Best&quot;</em></h3>
    <br/>
    <hr/>
    <p>We look forward to seeing you at the Saturday Night <a href="events.html">   Cruise-in and Shows.</a></p>

    <h3>Remember: <em>&quot;Have a Good Time &amp; <span style="color: #B90202">Cruise Without Booze</span>&quot;</em></h3><br />
    <hr/>
    <a name="member"></a>
    <h2>Joining Southern Knights Cruisers</h2>
    <p>Want to <a href="Content/docs/membership_application_2015.doc" target="_new">Become A Member</a> of the Southern Knights Cruisers Family?<br/>
        If you meet all of the New Membership requirements download the <a href="Content/docs/membership_application_2015.doc" target="_new">Membership Application</a>
        fill it out and turn it in to the Southern Knights Cruisers President or Secretary.
        <br /><br />

    <h3>Guidelines for New Membership:</h3>
    <p style=" color: red">
        Purpose of Guidelines: To prevent the mistreatment of any prospective member. Also, to
        prevent any claims of discrimination, as outlined under the Clubs charter.<br /><br />

        1.
        Show a strong desire to be a
        member of the Southern Knights Cruisers, Inc.<br />
        2.
        Be an auto enthusiast<br />
        3.
        Must show that they enjoy working with the Club to raise funds for charities<br />
        4.
        Be known by a large majority of membership<br />
        &nbsp;a.
        By attending club meetings<br />
        &nbsp;b.
        By working at cruise ins<br />
        &nbsp;c.
        By attending other Club activities<br />

    </p>
</div>


<div id="content_mod">
    <h3>Charities We Support</h3>


    <ul>
        <li><strong><em><a href="http://www.vwwp4.com/" target="_new">Virginia Wounded Warrior Program</a></em></strong></li>
        <li><strong><em><a href="http://richmondfisherhouse.org/" target="_new">The Fisher House</a></em></strong></li>
        <li><strong><em><a href="http://www.richmond.va.gov" target="_new">McGuire Veterans Hospital</a></em></strong></li>
        <li><strong><em><a href="http://www.cmn.org" target="_new">Children's Miracle Network</a></em></strong></li>
        <li><em><strong><a href="http://www.va.wish.org" target="_new">Make A Wish Foundation</a></strong></em></li>
        <li><em><strong><a href="http://stjude.org" target="_new">St. Jude Children's Research Hospital</a></strong></em></li>
        <li><em><strong><a href="http://vawarmemorial.org" target="_new">The Virginia War Memorial in Richmond, Virginia</a></strong></em></li>
        <li><em><strong><a href="http://alpost284.x10host.com/" target="_new">American Legion Post 284, Colonial Heights, Virginia</a></strong><a href="http://mysite.verizon.net/legion284/"></a></em></li>
    </ul>

    <p><center><img src="Content/images/skc-pin.jpg" alt="Team SKC" width="203" height="132" /></center></p>

    <h3>2014 Veterans Show Donations</h3>
    <p>Virginia Wounded Warrior Program</p>
    <center><img src="Content/images/donations/VA_Wounded_Warrior_Donation.jpg" alt="VA Wounded Warrior Donation" width="203" height="132" /></center>
    <p>Fisher House</p>
    <center><img src="Content/images/donations/Fisher_House Donation.jpg" alt="Fisher House Donation" width="203" height="132" /></center>
    <p>McGuire Veterans Hospital</p>
    <center><img src="Content/images/donations/McGuire_Veterans_Hospital_Donation.jpg" alt="McGuire Veterans Hospital Donation" width="203" height="132" /></center>


    <div class="cleaner"></div>

</div>

 
       



