
<h1>Contact Southern Knights Cruisers</h1>
<div class="col_w425 float_l">

    <h3>Ricky Williams, President</h3>
    <p>101 Comstock Drive<br />
        Colonial Heights, VA 23834<br />
        Tel: 804-526-8865<br />
        Cell: 804-691-3754<br />
        Email: <a href="mailto:uworime@comcast.net"  target="_new">uworime@comcast.net</a><br /><br />

    <h3>John Ronkartz, Vice President</h3>
    <p>Tel: 804-586-5827<br/>
        Email: <a href="mailto:jRonKartz2869@yahoo.com" target="_new">jRonKartz2869@yahoo.com</a><br /><br />
    </p>
</div>

<div class="col_w425 float_r">
    <h2><center><img class="shadow" src="Content/images/10th Annual logo.jpg" width="337" height="218" alt="Cruise In logo" /></center></h2>
</div>

<div class="cleaner_h30"></div>
        