<div id="content_events">

    <h1>Southern Knights Cruisers Events</h1>


    <div>

        <h3>Shows and Events:</h3>
        <hr/>

        <!--<p>Please check back as new events are added often.</p>-->

        <h5>August 15</h5><p>The 2nd annual Special Olympics Area 16 benefit car show</p>
        <p>Shine'em & Show'em Car, Truck and Bike Show sponsored by McKenney Cruisers. Curtis Field 19306 Manson Church Road, McKenney Virginia 23872. Hours from 12 noon to 6 pm. Judged car show with Top 25, Specialty Awards, Best Appearing Categories, Best In Show Car, Truck and MC. Dash plaques for the first 100 participants. Rain date is Sunday August 16th. Registration from 12:00 noon - 2:00 pm. Awards ceremony at 4:30 pm. Admission $12.00(full meal included), children 10 and under free. Car show registration $8.00.<br/>
            For more information contact Connie (804) 720-7787 or Tony (804) 691-1104.</p>
        <br/>


        <h5>August 22</h5>
        <p>Bruce's Super Body Shops and Extra Billy's BBQ present The 11th Annual Paw-Paw Classic Car Show for Cancer. (Midlothian area, Alverser Drive off Rte. 60 by CarMax & Southern States) 9 AM to 4 PM, gates open at 8 AM...come in early for a nice breakfast. The restaurant will open early and serving. Judged event, 1st, 2nd, 3rd place awards in eleven classes; 9 Specialty awards; Best in Show; 50-50 raffle with dozens & dozens of great prizes; Homemade Bake Sale; Oldies Music 50's to 80's; BBQ and beer lunch specials; $20 registration day of show, $15 in advance till August 21; RAIN DATE IS AUGUST 29 OR SEPTEMBER 5th DEPENDING ON THE WEATHER. Event will NOT be held if rain is imminent. Open to vehicles from 1990 and earlier. All proceeds to benefit local chapter of the American Cancer Society<br/>
            For more info, contact Jeff Malo 804-272-0579. e-mail <a href="mailto:silentknightrecords@verizon.net">silentknightrecords@verizon.net</a> or look for the black 1965 Cadillac at car shows throughout the spring and summer....and...you can also register at our weekly Saturday night cruise-in at Extra Billy's BBQ!</p>


        <br/>


        <a href="http://carclubcouncil.com/cal.html" target="_new">Find more shows and events.</a>
        <br/><br/>

        <h3>Cruise-Ins:</h3>
        <hr/>
        <h5>The Southern Knights Cruisers:</h5> <p>The Southern Knights Cruisers sponsors a cruise-in at Hardee's located at 1901 W. Hundred Rd. (Exit 61-A on Rt.I-95) in Chester, VA, every Saturday Night (weather permitting) starting at 5:00 PM.<br/><br/>This will be our 12th year for this cruise-in! The cruise-in season starts on April 4th, weather permitting, and continues through the end of October.<br/><br/>Cruise in for Good Food, Good Music, Good Friends, Beautiful Classic Cars, Bikes &amp; More. The clubs DJ's &quot;Wolf Man John&quot;, the &quot;Rocket Man&quot; or &quot;Rockin Johnny Hall&quot; will be   on hand for entertainment. We Look forward to seeing You! </p>
        - Info: E-mail Wolf Man John at <a href="mailto:JEN55chevys@aol.com">JEN55chevys@aol.com</a> or Ricky Williams 804-526-8865 or E-mail <a href="mailto:uworime@comcast.net">uworime@comcast.net</a>
        </p><br/>

        <a href="http://carclubcouncil.com/cal.html" target="_new">Find more shows and events.</a>

    </div>

</div>
