


    <h1>Southern Knights Cruisers</h1>

    <p><img src="Content/images/newclub-trans-bg.gif" alt="Southern Knights Logo" width="223" height="187" align="left" >The Southern Knights Cruisers sponsors a cruise-in at Hardee's located at 1901 W. Hundred Rd. (Exit 61-A on Rt.I-95) in Chester, VA, every Saturday Night (weather permitting) starting at 5:00 PM.<br/><br/>This will be our 12th year for this cruise-in! The cruise-in season starts on April 4th, weather permitting, and continues through the end of October.<br/><br/>Cruise in for Good Food, Good Music, Good Friends, Beautiful Classic Cars, Bikes &amp; More. The clubs DJ's &quot;Wolf Man John&quot;, the &quot;Rocket Man&quot; or &quot;Rockin Johnny Hall&quot; will be   on hand for entertainment. We Look forward to seeing You! </p>
    <p>The lot gets full between 6-7 PM and park everywhere. Be sure and get there early.</p>
    <br/>


    <div class="cleaner"></div>



    <div>
        <h2>Hardees Cruise-Ins:</h2>
        <p>The Southern Knights Cruisers host their weekly Saturday cruise-ins at Hardees on Old Stage Rd. in Chester, VA starting Saturday, April 5th thru October 25th, 5:00 till 9:00 or until everyone leaves (weather permitting). </p>
        <div class="image_wrapper">

            <script>

                /***********************************************
                 * Flexi Slideshow- Â© Dynamic Drive (www.dynamicdrive.com)
                 * This notice must stay intact for use
                 * Visit http://www.dynamicdrive.com/ for full source code
                 ***********************************************/

                var variableslide=new Array()

                //variableslide[x]=["path to image", "OPTIONAL link for image", "OPTIONAL text description (supports HTML tags)"]

                variableslide[0]=['images/Current Cruise In Photos/100_6600.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[1]=['images/Current Cruise In Photos/100_6602.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[2]=['images/Current Cruise In Photos/100_6605.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[3]=['images/Current Cruise In Photos/100_6607.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[4]=['images/Current Cruise In Photos/100_6608.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[5]=['images/Current Cruise In Photos/100_6609.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[6]=['images/Current Cruise In Photos/100_6618.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[7]=['images/Current Cruise In Photos/100_6619.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[8]=['images/Current Cruise In Photos/100_6600.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[9]=['images/Current Cruise In Photos/100_6623.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[10]=['images/Current Cruise In Photos/100_6624.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[11]=['images/Current Cruise In Photos/100_6631.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[12]=['images/Current Cruise In Photos/100_6632.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[13]=['images/Current Cruise In Photos/100_6635.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[14]=['images/Current Cruise In Photos/100_6636.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[15]=['images/Current Cruise In Photos/100_6641.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[16]=['images/Current Cruise In Photos/100_6646.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[17]=['images/Current Cruise In Photos/100_6651.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[18]=['images/Current Cruise In Photos/100_6652.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[19]=['images/Current Cruise In Photos/100_6655.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[20]=['images/Current Cruise In Photos/100_6656.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[21]=['images/Current Cruise In Photos/100_6657.JPG" width="600" height="320" alt="May Cruise In" />', '', '']
                variableslide[22]=['images/Current Cruise In Photos/100_6658.JPG" width="600" height="320" alt="May Cruise In" />', '', '']

                //configure the below 3 variables to set the dimension/background color of the slideshow

                var slidewidth='130px' //set to width of LARGEST image in your slideshow
                var slideheight='120px' //set to height of LARGEST iamge in your slideshow, plus any text description
                var slidebgcolor='#ffffff'

                //configure the below variable to determine the delay between image rotations (in miliseconds)
                var slidedelay=4000

                ////Do not edit pass this line////////////////

                var ie=document.all
                var dom=document.getElementById

                for (i=0;i<variableslide.length;i++){
                    var cacheimage=new Image()
                    cacheimage.src=variableslide[i][0]
                }

                var currentslide=0

                function rotateimages(){
                    contentcontainer='<center>'
                    if (variableslide[currentslide][1]!="")
                        contentcontainer+='<a href="'+variableslide[currentslide][1]+'">'
                    contentcontainer+='<img src="'+variableslide[currentslide][0]+''
                    if (variableslide[currentslide][1]!="")
                        contentcontainer+='</a>'
                    contentcontainer+='</center>'
                    if (variableslide[currentslide][2]!="")
                        contentcontainer+=variableslide[currentslide][2]

                    if (document.layers){
                        crossrotateobj.document.write(contentcontainer)
                        crossrotateobj.document.close()
                    }
                    else if (ie||dom)
                        crossrotateobj.innerHTML=contentcontainer
                    if (currentslide==variableslide.length-1) currentslide=0
                    else currentslide++
                    setTimeout("rotateimages()",slidedelay)
                }

                if (ie||dom)
                    document.write('<div id="slidedom" style="width:'+slidewidth+';height:'+slideheight+'; background-color:'+slidebgcolor+'"></div>')

                function start_slider(){
                    crossrotateobj=dom? document.getElementById("slidedom") : ie? document.all.slidedom : document.slidensmain.document.slidenssub
                    if (document.layers)
                        document.slidensmain.visibility="show"
                    rotateimages()
                }

                if (ie||dom)
                    start_slider()
                else if (document.layers)
                    window.onload=start_slider

            </script>

            <ilayer id="slidensmain" width=&{slidewidth}; height=&{slideheight}; bgColor=&{slidebgcolor}; visibility=hide><layer id="slidenssub" width=&{slidewidth}; left=0 top=0></layer></ilayer>






        </div>

        <p>&quot;It doesn't get any better than this!&quot; </p>
        <p>Over 320 vehicles in attendance at the   cruise-in from as far away as Newport News, VA Beach, &amp; Tidewater Area,   Powhatan, Mechancisville, Short Pump, Franklin, Charlottesville, and yes,   Maryland and North Carolina. </p>
        <br/><br/>
        <center><img class="shadow" src="Content/images/eagle-1-award-07.jpg" width="400" height="220" alt="Eagle Award" ></center>

        <h4>Thank you Eagle One!</h4>
        <p><a href="Content/docs/Eagle One Golden Rule Award 2007.doc" target="_new" >Click here to read more about the award...</a></p>
        <p>&nbsp;</p>

        <p></p>
        <audio title="SKC Music" preload="auto" autoplay="autoplay" controls="controls" style="background:#ccc;" >
            <source src="Content/music/Music_Combined.mp3" type="audio/mp3"  />
        </audio>
        <p></p>
        <a href="http://www.easycounter.com/"target="_new">
            <img src="http://www.easycounter.com/counter.php?iamguest"
                 border="0" alt="Web Counter" /></a>
    </div>


    <div class="cleaner"></div>
    <div class="cleaner"></div>


