

<div id="templatemo_content_wrapper">
    <!-- Start VisualLightBox.com BODY section id=1 -->
    <div id="vlightbox1">
        <h1>2013 McGuire's Veterans Hospital Cruise</h1>
        <a class="vlightbox1" href="Content/images/mcguire-hospital_files/vlb_images1/20130407_13.19.42.jpg" title="2013-04-07 13.19.42"><img src="Content/images/mcguire-hospital_files/vlb_thumbnails1/20130407_13.19.42.jpg" alt="2013-04-07 13.19.42"/></a>
        <a class="vlightbox1" href="Content/images/mcguire-hospital_files/vlb_images1/20130407_13.20.08.jpg" title="2013-04-07 13.20.08"><img src="Content/images/mcguire-hospital_files/vlb_thumbnails1/20130407_13.20.08.jpg" alt="2013-04-07 13.20.08"/></a>
        <!--<a class="vlightbox1" href="images/Content/images/mcguire-hospital_files/vlb_images1/20130407_13.20.22.jpg" title="2013-04-07 13.20.22"><img src="Content/images/mcguire-hospital_files/vlb_thumbnails1/20130407_13.20.22.jpg" alt="2013-04-07 13.20.22"/></a>-->
        <a class="vlightbox1" href="Content/images/mcguire-hospital_files/vlb_images1/20130407_13.20.42.jpg" title="2013-04-07 13.20.42"><img src="Content/images/mcguire-hospital_files/vlb_thumbnails1/20130407_13.20.42.jpg" alt="2013-04-07 13.20.42"/></a>
        <a class="vlightbox1" href="Content/images/mcguire-hospital_files/vlb_images1/20130407_13.20.48.jpg" title="2013-04-07 13.20.48"><img src="Content/images/mcguire-hospital_files/vlb_thumbnails1/20130407_13.20.48.jpg" alt="2013-04-07 13.20.48"/></a>
        <a class="vlightbox1" href="Content/images/mcguire-hospital_files/vlb_images1/20130407_13.21.06.jpg" title="2013-04-07 13.21.06"><img src="Content/images/mcguire-hospital_files/vlb_thumbnails1/20130407_13.21.06.jpg" alt="2013-04-07 13.21.06"/></a>
        <span class="vlb"><a href="http://visuallightbox.com">window ajax photo</a>by VisualLightBox.com v5.9</span>
    </div>

    <script src="Content/images/mcguire-hospital_files/vlb_engine/vlbdata1.js" type="text/javascript"></script>
    <!-- End VisualLightBox.com BODY section -->
</div>