
<table align="center">
    <tr>
        <td colspan="3"><p><strong>&nbsp;&nbsp;We sincerely want to thank   all of our Corporate Sponsors that have made it possible for the Southern   Knights Cruisers to carry out their mission each year.&nbsp;&nbsp;</strong></p><br/>
        </td>
    </tr>
    <tr>
        <td>
            <a href=""><h5>Elite Contracting</h5></a>
            <a href=""><img src="" width="250" height="150" border="0" alt=""/></a>
        </td>
        <td>
            <a href="http://www.hardees.com/" target="_new"><h5>Hardees</h5></a>
            <a href="http://www.hardees.com/" target="_new"><img src="Content/images/hardees.jpg"  alt="Hardees"/></a>
        </td>
        <td>
            <a href="http://www.strosniderchevrolet.com/" target="_new"><h5>Strosnider Chevrolet</h5></a>
            <a href="http://www.strosniderchevrolet.com/" target="_new"><img src="Content/images/strosnider.jpg"  alt="Strosnider Chevrolet"/></a>
        </td>
    </tr>
    <tr>
        <td colspan="3"><hr/></td>
    </tr>
    <tr>
        <td>
            <a href="http://storelocator.pepboys.com/pepboys/stores/petersburg/pep_boys_petersburg/00091" target="_new"><h5>Pep Boys Speed Shop</h5></a></p>
            <a href="http://storelocator.pepboys.com/pepboys/stores/petersburg/pep_boys_petersburg/00091" target="_new"><img src="Content/images/pepboysspeed.jpg"  alt="Pep Boys Speed Shop"/></a>
        </td>
        <td>
            <a href="http://www.vmpdrag.com/" target="_new"><h5>Virginia Motorsports Park</h5></a>
            <a href="http://www.vmpdrag.com/" target="_new"><img src="Content/images/vmp.jpg"  alt="Virgnia Motorsports Park"/></a>
        </td>
        <td>
            <a href="http://paradiseroadspeedandcustom.1freecart.com/" target="_new"><h5>Paradise Road Speed &amp; Custom</h5></a>
            <a href="http://paradiseroadspeedandcustom.1freecart.com/" target="_new"><img src="Content/images/paradise.jpg"  alt="Paradise Road Speed and Custom"/></a>
        </td>

    </tr>
    <tr>
        <td colspan="3"><hr/></td>
    </tr>
    <td>
        <a href="https://www.facebook.com/pages/Masis-Musclecar-Garage/112770362140990" target="_new"><h5>Masi's Musclecar Garage</h5></a>
        <a href="https://www.facebook.com/pages/Masis-Musclecar-Garage/112770362140990" target="_new"><img src="Content/images/masi.jpg"  alt="Masi's Musclecar Garage"/></a>
    </td>
    <td>
        <a href="http://www.surfcitygarage.com/" target="_new"><h5>Surf City Garage</h5></a>
        <a href="http://www.surfcitygarage.com/" target="_new"><img src="Content/images/SCG_Color.jpg" width="250" height="150"  alt="Surf City Garage"/></a>
    </td>

</table>


<div style="margin-left: 0px; font-style: normal;">

</div>