<div id="content_show">

        <h1>Southern Knights Cruisers Veterans Car Show</h1>


    <p>We are proud to present the 16th Annual Southern Knights Cruisers Veterans Car &amp; Bike Show saluting and honoring our country's veterans. Money that is raised will benefit the Virginia Wounded Warrior Program, the Fisher House, and McGuire Veterans Hospital. We expect that there will be even more interest in the Show this year given the response we had last year...more to come on displays and vendors. </p>
    <br/>
    <p>Because of your commitment, we continue to believe we can make a difference. To date <em style="color: red; font-size: 22px; font-family: lucida-handwriting;">$308,000</em> &nbsp; has been raised by this show.</p>

    <br/>
    <!--<video width="600" height="330" controls>
          <source src="media/milband.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>-->
    <hr/>
    <h2>2015 Car Show Details</h2>
    <h3>Pre-Register To Win</h3>
    <h5> A Flat Screen Television
        All you need to do is pre-register your vehicle and your number will be entered. The winner will be drawn from the pre-registrations the day of the show.</h5>

    <p>We would like for you to join us at our 16th Annual Southern Knights Cruisers Veterans Car &amp; Bike Show to benefit our country’s veterans.  The charities for this year’s show are &quot;the Virginia Wounded Warrior Program&quot;, &quot;Fisher House&quot; and &quot;McGuire Veterans Hospital&quot;. </p>
    <table colspan="2" width="555px">
        <tr>
            <td>
                <h5>Date: </h5>
                <p>October 3, 2015<br/><br/>

                    <em style="color: blue;">Rain Date:  </em><br/>
                <p> October 4, 2015</p><br/>

                <h5>Time: <br/></h5>
                <p> 8:00a to 4:00p<br/><br/>

                    <em style="color: blue;">Schedule: </em><br/>

                    Registration Begins: 8:00a<br/>
                    Opening Ceremony: 11:00a<br/>
                    Show Ends: 4:00p<br/><br/>
                </p>


                <h5>Location: <br/></h5>
                <p> Richard Bland College<br/>
                    11301 Johnson Road <br/> Petersburg, VA 23805</p>
            </td>
            <td>
                <img src="Content/images/winners/2013/img_4520.jpg" alt="2013 Veterans Car Show" style="float: right;"/><br/>
                <img src="Content/images/winners/2013/img_4242.jpg" alt="2013 Veterans Car Show" style="float: right;"/ />

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p><em style="color: blue;">Directions:</em><br/>
                    I-95 exit 48B (Wagner Rd.) or I-85 exit 65 (Squirrel Level Rd.) South of Petersburg - Just follow the signs.<br/><br/>
                </p>
                <br/>
                <h5>Classes/Awards: <br/></h5>
                <p> This is an open judged show. All vehicles welcomed! Total of over 120 awards with dash plaques given to the first 250 registered.<br/>
                <table colspan="2" width="555px">
                    <tr>
                        <td>
                            <p>
                                <em style="color: blue;">Classes: </em><br/>
                                Early - 1954<br/>
                                1955 - 1972<br/>
                                1973 - 1992<br/>
                                1993 - Present<br/>
                                <em style="color: blue;">Awards: </em><br/>
                                Best of Show awards in each class<br/>
                                Top 25 awards in each class<br/>
                                <em style="color: blue;">Speciality Awards: </em><br/>
                                Club Participation<br/>
                                Longest Drive<br/>
                                Youngest Participant<br/>
                            </p>
                        </td>
                        <td>
                            <img src="Content/images/winners/2013/classic.gif" alt="2013 Veterans Car Show" style="float: right;"/>
                        </td>
                    </tr>
                </table>
                </p><br/>

                <h5>Registration: <br/></h5>
                <p>All vehicles must be registered and set up by 11:00a to be judged<br/>
                    <em style="color: blue;">Registration Fee:</em><br/>
                <p>Pre-register: <em style="color: red;">prior to September 27</em><br/>
                    $15.00<br/>
                    Register day of show:<br/>
                    $25.00<br/>

                    <em style="color: blue;">Registration Form:</em><br/>
                    Open and print your <a href="Content/docs/Show_Registration_form-2015.pdf" target="_new">Show Registration 2015</a>  and follow the instructions under Show Information.<br />
                </p>
                <hr/>

                <h5>Charities: <br/></h5>
                <p>Follow these links to learn about the charities supported by Southern Knights Cruisers Veteran's Car &amp; Bike Show<br/>
                    <a href="http://www.vwwp4.com/" target="_new">Virginia Wounded Warrior Program</a><br/>
                    <a href="http://richmondfisherhouse.org" target="_new">Richmond Fisher House and Foundation</a><br/>
                    <a href="http://www.richmond.va.gov/" target="_new">Hunter Holmes McGuire VA Medical Center</a><br/><br/>
                    If you are unable to attend the 16th Annual Southern Knights Cruisers Veteran's Car &amp; Bike Show and wish to make a donation to one of our charities, Southern Knights Cruisers, Inc. is proud to accept your donation and add it to the Veteran's Car &amp; Bike Show proceeds.</p>

                <hr/>

                <h5>Vendors: <br/></h5>
                <p>Coming Soon ...</p>
                <!--	<table>
                    <col width="250">
                     <tr>
                      <td><p>Vendor Name</p></td>
                      <td><p>Vendor E-mail</p></td>
                     </tr>
                     <tr >
                      <td><p>Vendor Name</td>
                      <td><p>Vendor Name</p></td>
                     </tr>
                     <tr>
                      <td><p>Vendor Name</p></td>
                      <td><p>Vendor Name</p></td>
                     </tr>

                    </table> -->

                <hr/>
                <h5>Sponsors: <br/></h5>
                <p>Coming Soon ...</p>
                <!--	<table>
                    <col width="250">
                     <tr>
                      <td><p>Sponsor Name</p></td>
                      <td><p>Sponsor Name</p></td>
                     </tr>
                     <tr >
                      <td><p>Sponsor Name</td>
                      <td><p>Sponsor Name</p></td>
                     </tr>
                     <tr>
                      <td><p>Sponsor Name</p></td>
                      <td><p>Sponsor Name</p></td>
                     </tr>

                    </table> -->

                <hr/>

                <h5>Become a Vendor:<br/></h5>
                <p>
                    <em style="color: blue;">Vendor Registration information:</em><br/>
                <p>All vendors must me registered and fees paid by October 2, 2015.  Vendor space
                    includes one vehicle pass. Payment must be received prior to event to reserve space
                    requested. Space is limited, therefore please arrange for space prior to submitting application.<br/>
                </p>
                <table colspan="2" width="555px">
                    <tr >
                        <td >
                            <p>
                                <em style="color: blue;">Vendor Registration Fees:</em><br/>
                                <em>Small Area (15'x10')</em><br/>
                                $25.00 <br/>
                                <em>Medium Area (15'x20')</em><br/>
                                $40.00 <br/>
                                <em>Large Area (15'x60')</em><br/>
                                $60.00   <br/>
                                <br/><br/><br/>
                                <em style="color: blue;">Vendor Registration Form:</em>
                            </p>
                        </td>
                        <td><img class="shadow" src="Content/images/winners/2013/img_4222.jpg" alt="2013 Veterans Car Show" style="float: right;"/>
                        </td>

                    </tr>

                </table>
                <p> Open and print your <a href="Content/docs/Vendor_Registration_form-2015.pdf" target="_new">Vendor Registration 2015</a> and follow the instructions on the form.<br /> </p><br/>
                <p>All food vendors must me registered and fees paid by October 2, 2015.  Vendor space
                    includes one vehicle pass. Payment must be received prior to event to reserve space
                    requested. Space is limited, therefore please arrange for space prior to submitting application.<br/>
                <p>
                    <em style="color: blue;">Food Vendor Registration information:</em><br/>

                <table colspan="2" width="555px">
                    <tr >
                        <td >
                            <p>
                                <em style="color: blue;">Food Vendor Registration Fees:</em><br/>
                                <em>Small Area (20'x30')</em><br/>
                                $50.00 <br/>
                                <em>Large Area (20'x60')</em><br/>
                                $80.00   <br/>
                                <br/>
                                <em style="color: blue;">Food Vendor Registration Form:</em>
                            </p>

                    </tr>

                </table>
                <p> Open and print your <a href="Content/docs/Food_Vendor_Registration_form-2015.pdf" target="_new">Food Vendor Registration 2015</a> and follow the instructions on the form.<br /> </p>

                <hr/>



            </td>
        </tr>
    </table>

    <h5>Show Contacts:<br/></h5>
    <p>
        <em style="color: blue; font-size: 14px;">Ricky Williams:</em><br/>
        <em>Show Chairman</em><br/>
        804-691-3754<br/>
        <a href="mailto:uworime@comcast.net"  target="_new">uworime@comcast.net</a><br/><br/>


        <em style="color: blue;  font-size: 14px">Sharon Williams:</em><br/>
        <em>Secretary</em><br/>
        804-526-8865<br/>
        <a href="mailto:uworime@comcast.net"  target="_new">uworime@comcast.net</a><br/><br/>

    </p>
    <hr/>


    <p>Please Join Us This Year!</p><br/>
    </div>
</div>

<div class="clear">&nbsp;</div>

<div id="content_mod">


    <h3>Previous Winners</h3>

    <hr/>
    <table width="240">

        <td><h3>2014 Winners</h3></td>
        </tr>
        <tr>
            <td width="240">
                <a href="Content/images/winners/2014/2014winners.php" title="2014 Veterans Car Show" target="_new"><img class="shadow" src="Content/images/winners/2014/img_4251.jpg" alt="2014 Veterans Car Show" /></a>
                <br/>
                <h4>2014 Best Of Show:</h4>
                <p><i>Early to 1954:</i></p>
                <p>1934 Plymouth Coupe -- Don Vitpil</p>
                <br/>
                <p><i>1955-1972:</i></p>
                <p>1968 Ford Shelby -- Jerry Wells</p>
                <br/>
                <p><i>1973-1992:</i></p>
                <p>1987 Chevy Pickup -- Ed Murray</p>
                <br/>
                <p><i>1993-Present:</i></p>
                <p>2011 Chevy Camaro -- Barry Wilkerson</p>
                <hr/></td>
        </tr>

        <tr>
            <td><h3>2013 Winners</h3></td>
        </tr>
        <tr>
            <td width="240">
                <a href="Content/images/winners/2013/2013winners.php" title="2013 Veterans Car Show" target="_new"><img class="shadow" src="Content/images/winners/2013/img_4251.jpg" alt="2013 Veterans Car Show" /></a>

            </td>
        </tr>

    </table>

</div>
